01.Python/Learn Python Programming Masterclass/section01-stepping-into-the-world-of-python/lec01-introduction-to-python/.idea
Machine_Learning_A_Z_Q_A.pdf
01.Python/Learn Python Programming Masterclass/section02-program-flow-control/lec02-program-flow-control/.idea
01.Python/Learn Python Programming Masterclass/section03-sequences-lists-tuples-ranges/lec03-sequences-lists-tuples-ranges/.idea
01.Python/Learn Python Programming Masterclass/section03-sequences-lists-tuples-ranges/lec04-tuples/.idea
01.Python/Learn Python Programming Masterclass/section03-sequences-lists-tuples-ranges/lec04-tuples/shared/__pycache__
*.idea
